<% if @category.errors.any? %>
<ul>
  <% @category.errors.full_messages.each do |m| %>
  <%= m %>
  <% end %>
</ul>
<% end %>

<%= form_with(model: @category,local: true) do |f| %>

  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
